[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
[submodule "diff/third_party/glm"]
	path = diff/third_party/glm
	url = https://github.com/g-truc/glm.git
